.authBody {
  width: 416px;
  height: 172px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help {
  width: 108px;
  height: 20px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #3f5da6;
}
.label {
  width: 142px;
  height: 20px;
  padding-left: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: #1a1c1e;
}
