.btn {
  border-radius: 6px;
  padding: 9px 14px;
  width: 87px;
  height: 36px;
  background: rgba(63, 93, 166, 0.12);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 135%;
  text-align: center;
  color: #3f5da6;

}

.btn::after {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  fill: #3f5da6;
  background: url("/src/img/Union.svg") no-repeat center / contain;
  margin-left: 6px;
}

.btn:active {
  background-color: #f48fb1
}